<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Custom Styles -->
  <style>
    body {
      background-color: #d4edda;
    }

    .container {
      margin-top: 50px;
    }

    .purchase-message {
      background-color: #d4edda;
      border-color: #c3e6cb;
      color: #155724;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
  </style>
  <title>Purchase Success</title>
</head>
<body>
<div class="container">
  <div class="purchase-message">
    <h1>Purchase Successful</h1>
    <p>Your purchase was successful!</p>
    <a href="http://localhost:8080/">Link
      to Main Screen</a>
  </div>
</div>
</body>
</html>
